<div class="modal fade" id="upload_csv_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p>Adiciona o arquivo CSV</p>
      </div>
      <%= form_with(url: '/deputy/submit_csv') do |form| %>
        <input type='hidden' name='uf' value='RJ'>
        <div class="modal-body">
            <%= form.file_field :file %>
        </div>
        <div class='modal-footer'>
          <%= form.submit "Enviar" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
