<%= render partial: 'shared/upload_csv_modal' %>
<%= render partial: 'shared/spinner' %>

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-container">
          <h1>Rank dos Gastos dos Deputados</h1>
          <p class="p-large p-heading">Aqui você poderá ver os gastos dos deputados do Rio de Janeiro. Para começar...</p>
          <button class="btn-solid-lg" data-toggle="modal" data-target="#upload_csv_modal"><i class="fa fa-eye mr-1"></i>Faça o Upload do CSV</button>
          <span class="p-large p-heading mr-1">ou</span>
          <a class="btn-solid-lg" href="/deputy/rank"><i class="fa fa-eye mr-1"></i>Visualize os dados já salvos</a>
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="image-container">
          <%= image_pack_tag "media/images/brasilia_2.png", class: "img-fluid main-image" %>
        </div>
      </div>
    </div>
  </div>
</header>
