// Place all the styles related to the Deputy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dataTables_paginate {
  display: flex;
  justify-content: center;
}

// .page-item .page-link {
//   box-shadow: none;
// }
  
// .page-item.active .page-link {
//   color: #fff;
//   background-color: #6c757d;
//   border-color: #6c757d;
//   box-shadow: none;
// }

.dataTables_paginate .paging_simple_numbers {
  background: red!important;
}